* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body { min-height: 100vh; }

.logo {
    width: 90px;
    cursor: pointer;
    margin-left: 65px;
}

.banner-index {
    width: 100%;
    height: 94.6vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url("img/bg.jpg");
    background-size: cover;
    background-position: top;
}

.banner {
    width: 100%;
    height: 100%;
    background-color: rgb(235, 235, 235);
    min-height: 100vh;
}

.cabecalho {
    width: 100%;
    margin: auto;
    height: 120px;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #009688;
}

.cabecalho ul {
    margin-right: 30px;
}

.cabecalho ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.cabecalho ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.cabecalho ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #ffce2e;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.cabecalho ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: relative;
    top: 35%;
    transform:translateY(-50%);
    text-align: center;
    color: white;
}

.content a {
    color: white;
    text-decoration: none;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 26px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

.container {
    background-color: rgb(255, 255, 255);
    width: 70vw;
    display: flex;
    margin: auto;
    padding: 35px;
    align-items: center;
}

.container-2 {
    background-color: rgb(255, 255, 255);
    width: 70vw;
    height: 88vh;
    display: flex;
    margin: auto;
    padding: 35px;
    align-items: center;
}

.container p {
    width: 450px;
}

.sobre-img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100vh;
    width: auto;
    margin: auto;
}

.container h1 {
    font-size: 45px;
}

.conteudo-container-projeto {
    margin-left: 40px;
}

.conteudo-container-insti {
    margin-left: 40px;
    width: 1000px;
}

.conteudo-container-insti a {
    text-decoration: none;
    color: #009688;
}

.img-container-projeto {
    margin-left: 300px;
    margin-right: 35px;
    background-color: chocolate;
    height: 600px;
    width: 750px;
    border-radius: 15px;
    background-image: url("img/banner1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.432);
}

.container_galeria {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--branco);
    justify-content: center;
    padding: 1em;
    background-color: white;
}

.titulo_galeria {
    font-size: 42px;
    margin-top: 30px;
}

.card__galeria {
    text-align: center;
    border-radius: 10px;    
    margin: 1em;
    padding: 1em;
    min-height: 300px;
    min-width: 350px;
    max-height: 300px;
    max-width: 350px;
}

.card_img {
    max-width: 350px;
    min-height: 250px;
    border-radius: 15px;
}

.grow{
    transition: 0.8s ease;
}
    
.grow:hover{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1.1);
    transition: 0.8s ease;
}

.rodape {
    height: 50px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: #009688;
    color: white;
    bottom: 0;
    width: 100%;
}

.rodape-galeria {
    height: 50px;
    position: fixed;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: #009688;
    color: white;
    bottom: 0;
    width: 100%;
}